.main-movies{
    width: 100%;
    /* margin: auto; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
  
}
.movie-box{
    width: 25%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
    .main-movies{
        width: 100%;
        flex-direction: column;
        /* text-align: center; */
        align-items: center;
    }
    .movie-box{
        width: 55%;
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
    }
}
@media only screen and (max-width: 500px) {
    .main-movies{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .movie-box{
        width: 80%;
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
    }
}